{% extends 'base.html' %}

{% block title %}
Task
{% endblock title %}

{% block content %}

    <form method="post">
        {% csrf_token %}
        {{task_form.title}}
        {{task_form.description}}
        {{task_form.userId}}
        <button type="submit">SUBMIT</button>
    </form>
    <ol>
        {% for task in tasks %}
            <li>
                {% if task.completed == True %}
                    <strike>{{task.title}}</strike>
                {% else %}
                    {{task.title}}
                {% endif %}
            --> {{task.userId}} | <a href="{% url "update_task" task.id %}">Update</a>
                | <a href="{% url "delete_task" task.id %}">Delete</a>
            </li>
        {% endfor %}
    </ol>
{% endblock content %}