{% extends 'base.html' %}

{% block title %}
Task
{% endblock title %}

{% block content %}
<div class="card">
    <div class="card-body">
        <form method="post">
            {% csrf_token %}            
            <div class="input-group mb-3">
                {{form.title}}
                <button type="submit" class="btn btn-primary btn-lg">ADD</button>
            </div>
            <div class="input-group mb-3">
                {{form.description}}
            </div>
        </form>
        <h4 class="bg-warning text-light py-2 rounded text-center">My Tasks:</h4>
        <ul class="list-group tasks">
            {% for task in tasks %}
                <li class="list-group-item list-group-item-action" title="{{task.description}}">
                    {% if task.completed == True %}
                        <strike>{{task.title}}</strike>
                    {% else %}
                        {{task.title}}
                    {% endif %}
                    <div class="float-right">                        
                        <a href="{% url 'complete_task' task.id %}">
                            {% if task.completed == True %}
                            <i class="remove mdi mdi-close-circle-outline"></i></a>
                            {% else %}
                            <i class="fa fa-check"></i>
                            {% endif %}
                        </a>
                        <a href="{% url 'update_task' task.id %}" ><i class="fa fa-edit"></i></a>
                        <a href="{% url 'delete_task' task.id %}" ><i class="fa fa-trash-o"></i></a>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock content %}